!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body

    .header
      .header__box
        .header__box-img
          - if user_signed_in?
            ドーモ。#{current_user.name}サン
          - else
            您好, Mr.
        .header__box-logout
          - if user_signed_in?
            = link_to "ログアウト", "/users/sign_out", method: :delete
          - else
            = link_to "ログイン", "/users/sign_in", method: :new
        .header__box-post
          - if user_signed_in?
            = link_to "投稿する", "/comments/new"

    .main
      -# = render partial: "new"
      = render partial: "comment", collection: @comments